<div class="l-center">
    <div class="clearfix noselect l-info-panel">
        <table class="table-data">
            <tr>
                <td>Apache version:</td>
                <td><?= $apache_version; ?></td>
            </tr>
            <tr>
                <td>LiteSpeed version:</td>
                <td><?= $is_liteSpeed_installed
                    ? $liteSpeed_version
                    : '<span class="error">Not installed</span>';
                ?></td>
            </tr>
            <tr>
                <td>Is Apache running:</td>
                <td><?= $is_apache_running
                    ? '<span class="success">Yes</span>'
                    : '<span class="error">No</span>'
                ?></td>
            </tr>
            <tr>
                <td>Is LiteSpeed running:</td>
                <td><?= $is_liteSpeed_running
                    ? '<span class="success">Yes</span>'
                    : '<span class="error">No</span>'
                ?></td>
            </tr>
        </table>
    </div>
    <pre class="bash-error"><?= $bash_log ?></pre>
    <div class="clearfix noselect l-stat__col-title l-sort">
        Manage LiteSpeed Web Server
    </div>
    <div class="actions-panel clearfix">
        <div class="actions-panel__litespeed" key-action="href">
            <a href="/litespeed/start?action=install">
                <?=__('Install LiteSpeed')?>
            </a>
        </div>
        <?php if ($is_liteSpeed_installed): ?>
            <div class="actions-panel__litespeed" key-action="href">
                <a href="/litespeed/start?action=restart">
                    <?=__('Restart LiteSpeed')?>
                </a>
            </div>
            <div class="actions-panel__litespeed" key-action="href">
                <a href="/litespeed/start?action=reattach">
                    <?=__('Restart detached PHP processes')?>
                </a>
            </div>
        <?php endif; ?>
    </div>
    <?php if ($is_liteSpeed_installed): ?>
        <div class="clearfix noselect l-stat__col-title l-sort">
            LiteSpeed Cache For WordPress Management
        </div>
        <div class="actions-panel clearfix">
            <div class="actions-panel__litespeed" key-action="href">
                <a href="/list/litespeed-cache">
                    <?= __('Set cache locations') ?>
                </a>
            </div>
        </div>
        <div class="clearfix noselect l-stat__col-title l-sort">
            Switch between Apache and LiteSpeed
        </div>
        <div class="actions-panel clearfix">
            <div class="actions-panel__litespeed" key-action="href">
                <?php if (!$is_liteSpeed_running): ?>
                    <a href="/litespeed/start?action=litespeed">
                        <?= __('Switch to LiteSpeed') ?>
                    </a>
                <?php elseif (!$is_apache_running): ?>
                    <a href="/litespeed/start?action=apache">
                        <?= __('Switch to Apache') ?>
                    </a>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php echo $test; ?>
</div>
